* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
}
.content {
  font-family: "JetBrains Mono", monospace;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}

.content p {
  width: 50%;
  text-align: justify;
  letter-spacing: 0.5px;
  /* background-color: aqua; */
}
.content h2 {
  margin-bottom: 16px;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  text-decoration: underline blueviolet 4px;
  transition: all 0.2s ease-out;
  cursor: default;
  width: fit-content;
}

.content h2:hover {
  background-color: blueviolet;
}

.container {
  /* background-color: rgb(241, 241, 241); */
  width: 64%;
  margin: 40px auto;
  flex-grow: 1;
}

.contBody{
  display: flex;
  gap: 50px;
}

.contBody img{
  width: 50%;
}

#news{
  margin-top: 24px;
}


nav {
  width: 100%;
  background-color: black;
  height: 100px;
}

nav .wrapper {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  align-items: center;
  width: 64%;
  color: white;
  height: 100%;
  gap: 24px;
}

nav .wrapper h1 {
  font-size: 28px;
  font-weight: 300;
  margin-right: auto;
}

nav .wrapper a {
  font-size: 20px;
  color: white;
  font-family: "JetBrains Mono", monospace;
  text-decoration: none;
}

nav .wrapper a:hover {
  text-decoration: underline;
}

nav .wrapper i {
  font-size: 30px;
}

footer {
  height: 60px;
  background-color: black;
  color: white;
}

#subHead{
  font-family: "Poppins", sans-serif;
  margin-bottom: 48px;
  color: blueviolet;
  font-weight: bold;
  width: fit-content;
  font-size: 18px;
}
