*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
.parent{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height: 100vh;
    gap: 40px;
}
.content{
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    width: 64%;
    background-color: bisque;
    padding: 40px;
    min-height: 100vh;

}
.content p{
    width: 50%;
}

nav{
    
    width: 100%;
    background-color: black;
    height: 80px;
}

nav .wrapper{
    font-family: 'Poppins', sans-serif; 
    display: flex;
    justify-content: flex-start;
    margin:  0 auto;
    align-items: center;
    width: 64%;
    color: white;
    height: 100%;
    gap: 18px;
}

nav .wrapper h1 {
    font-size: 24px;
    font-weight: 300;
    margin-right: auto;
}

nav .wrapper a{
    font-size: 16px;
    color: white;
    font-family: 'JetBrains Mono', monospace;
}