<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Noto+Sans&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="parent">
      <nav>
        <div class="wrapper">
          <i class="material-icons">newspaper</i>
          <h1>fake news detector</h1>
          <a href="">About Project</a>
        </div>
      </nav>
      <div class="content">
        <div class="container">
          <h2>Are you biased?</h2>
          <p>
            Information, with the rise of technology, is easily available and
            accessible to more people than ever before. With increasing number
            of people on social media and the ease of sharing information it
            brings to the masses, an age old problem of fake news continues to
            plague our society. Convincingly written non-factual information
            that promotes propaganda, biased opinions and misinformation of
            events is more likely to be shared across social media more than
            factual and validated information. The traditional methods of
            validating any Information relies heavily upon the reader. This
            undermines our societies' efforts to educate people with correct
            information and lead to misinformation and bias. The goal of this
            research is to create highly effective Artificial Intelligence tools
            to detect fake news using efficient algorithms like Logistic
            Regression and Deep Learning and comparing the accuracy between them
            to determine which algorithm can more accurately detect fake news.
            Use of NLP to understand Intent and Sentiment can help improve the
            accuracy of the model, as used in some spam detection techniques.
          </p>
        </div>
      </div>
      <footer><h3>footer</h3></footer>
    </div>
  </body>
</html>
